
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
  <link rel="stylesheet" href="/css/dashboard_sv.css">
</head>
<body>
  <header>
    <img src="/images/logo.png" alt="Logo hệ thống" id="logo_navbar">
    <h2>STUGATE</h2>
    <div class="tt">
      <h4 id="sv_hoTen"><%= sinhVien.hoTen %></h4>
      <form action="/logout" method ="get">
        <button type="submit" id="logout_button" >Đăng xuất</button>
      </form>
      
    </div>
  </header>

  <section>
    <nav>
        <ul class="menu">

          <li>
            <img src="/images/home_icon.png" alt="home_icon">
            <a href="">Trang chủ</a>
          </li>

          <li>
            <img src="/images/notion_icon.png" alt="home_icon">
            <a href="">Thông báo từ nhà trường</a>
          </li>

          <li>
            <img src="/images/private_infor_icon.png" alt="home_icon">
            <a href="">Thông tin cá nhân</a>
          </li>

          <li>
            <img src="/images/tkb_icon.png" alt="home_icon">
            <a href="/sv/tkb">Thời khóa biểu</a>
          </li>

          <li>
            <img src="/images/diem_icon.png" alt="home_icon">
            <a href="">Điểm</a>
          </li>

          <li>
            <img src="/images/dslh_icon.png" alt="home_icon">
            <a href="">Danh sách lớp học trực tuyến</a>
          </li>

          <li>
            <img src="/images/htt_icon.png" alt="home_icon">
            <a href="">Học trực tuyến</a>
          </li>

        </ul>
    </nav>
    
  </section>
</body>
</html>
