
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Sinh Viên</title>
  <link rel="stylesheet" href="/css/timetable.css">

</head>
<body>
  <header>
    <img src="/images/logo.png" alt="Logo hệ thống" id="logo_navbar">
    <h2>STUGATE</h2>
    <div class="tt">
     <h4 id="sv_hoTen"><%= user.name %></h4>
      <form action="/logout" method ="get">
        <button type="submit" id="logout_button" >Đăng xuất</button>
      </form>
      
    </div>
  </header>

  <section class="warp">
    <nav>
        <ul class="menu">

          <li>
            <img src="/images/home_icon.png" alt="home_icon">
            <a href="">Trang chủ</a>
          </li>

          <li>
            <img src="/images/notion_icon.png" alt="home_icon">
            <a href="">Thông báo từ nhà trường</a>
          </li>

          <li>
            <img src="/images/private_infor_icon.png" alt="home_icon">
            <a href="">Thông tin cá nhân</a>
          </li>

          <li>
            <img src="/images/tkb_icon.png" alt="home_icon">
            <a href="/sv/tkb">Thời khóa biểu</a>
          </li>

          <li>
            <img src="/images/diem_icon.png" alt="home_icon">
            <a href="">Điểm</a>
          </li>

          <li>
            <img src="/images/dslh_icon.png" alt="home_icon">
            <a href="">Danh sách lớp học trực tuyến</a>
          </li>

          <li>
            <img src="/images/htt_icon.png" alt="home_icon">
            <a href="">Học trực tuyến</a>
          </li>

        </ul>
    </nav>
<div class="content">
    <table class="timetable">
        <thead>
            <tr>
                <th>Thứ</th>
                <th>Ngày</th>
                <th>Sáng</th>
                <th>Chiều</th>
                <th>Tối</th>
            </tr>
        </thead>
        <tbody id="timetable-body">
            <tr class="loading-row">
                <td colspan="5">Đang tải dữ liệu thời khóa biểu...</td>
            </tr>
        </tbody>
    </table>
</div>
  </section>
  <script src="/js/timetable.js"></script>
</body>
</html>
