*{
    margin: 0;
    padding: 0;
}

html, body{
    display: flex;
    flex-direction: column;
    font-family:sans-serif
    
}
#logo_navbar{
    width: 100px;
}
header{
    display: flex;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    position: relative;
    
}
header h2{
    line-height: 100px;
    
    font-size:30px ;
    margin-left: 20px;
    

}

.tt{
    /* border: 1px solid black; */
    position: absolute;
    right: 30px;
    height: 100%;
    align-items: center;
    text-align: center;
    
}
#logout_button{
    width: 100px;
    background-color: white;
    height: 35px;
    margin-top: 15px;
}
#sv_hoTen{
    margin-top: 10px;
}


section{
    background-color: #D6D6D6;
    height: 100vh;

}

.menu li img{
    /* width: 35px; */
    height: 25px;
    padding-left: 20px;
    align-self: center;
}
.menu li a{
    color: black;
    text-decoration: none;
}
.menu li {
    /* border: 1px solid black; */
    
    white-space: nowrap;
    display: flex;
    
}
nav{
    width: 350px;
    border-right: 1px solid black;
    height: 100vh;
}
.menu li a {
    
    align-self: center;
    padding: 15px 40px;
    width:100%;
}
.menu li:hover{
    background-color:gold ;
}